body {
    background-color: #050505;
}

h1, h3, h4, p, li, a {
    font-family: "Noto Sans";
    color: white;
}

ul {
    text-align: left;
    display: table;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-item {
    margin: -5px;
}

.project-pics {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;

    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.contact {
    font-size: 80%;
    color: gray;
    text-decoration: none;
}

.project-pics:hover {
    width: 310px;
    height: 310px;
}

.text-box {
    width: 50%;
    text-align: center;
    background-color: coral;
    margin: 0.5%;
}

#previous {
    text-align: center;
}

#projects {
    align-items: flex-start;
}

#text-boxes {
    align-items: flex-start;
}

#greeting {
    flex-direction: column;

    background: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b);
    background-size: 100%;
    background-repeat: no-repeat;

    font-size: 200%;
    height: 500px;
    text-shadow: 2px 2px #000000;
}

#icon {
    height: 20%;
    filter: invert(100%);
}